<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some dang form</title>
</head>
<body>
  <h1>Coders b shoppin</h1>
  <form action="/checkout" method="post">
    <label for="item">Item: </label><br>
    <input type="text" id="item" name="item"><br>
    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
